.sidebar {
    width: 20%;
    background-color: #1E3A8A; /* Tailwind's blue-700 */
    height: 100vh;
    padding: 1rem;
}

.dashboard {
    width: 75%;
    padding: 2rem;
}

.financial_forecast {
    width: 75%;
    padding: 2rem;
}

.card {
    background-color: #83d7e6; /* Tailwind's cyan-500 */
    color: #0E7490;
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 30%;
    margin: 0 0.5rem;
}

.btn {
    background-color:transparent; /* Tailwind's cyan-700 */
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-left: -1px; /* To avoid double borders */
    transition: background-color 0.3s;
}

.btnd {
    background-color:#0E7490; /* Tailwind's cyan-700 */
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-left: 15px; /* To avoid double borders */
    transition: background-color 0.3s;
}

.btn-active, .btnd-active {
    background-color: #67E8F9; /* Tailwind's cyan-200 */
    color: #0E7490; /* Tailwind's cyan-700 */
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}


.btn-rounded {
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; /* Rounded corners */
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Lighten on hover */
}



.fingenius {
    display: flex;
    align-items: center; /* Center items vertically */
    background-color: transparent; /* Tailwind's blue-700 */
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 2rem; /* Margin around the FInGenius box */
    color: #0E7490; /* Text color */
}

.logo {
    width: 60px; /* Adjust logo size */
    height: 60px; /* Adjust logo size */
    margin-right: 1rem; /* Space between logo and message box */
}

.message-box {
    background-color: #83d7e6; /* Tailwind's cyan-500 */
    color: #0E7490; /* Tailwind's cyan-700 */
    padding: 1rem;
    border-radius: 0.5rem;
    flex-grow: 1; /* Allow the message box to take up remaining space */
}