<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Econovision</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='dcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='fcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='chatbot.js') }}"></script>
    <script src="{{ url_for('static', filename='data.js') }}"></script>
</head>
<body class="bg-gray-100">
    <div class="flex">
        <!-- Sidebar -->
        <div class="sidebar bg-blue-700 p-4">
            <div class="text-white text-lg font-bold mb-8">
                <div class="flex items-center mb-8">
                    <img src="{{ url_for('static', filename='images/ECONOVISION.png') }}" alt="Logo" class="h-12.5 w-12.5 mr-2">
                </div>
                <div class="flex flex-col space-y-4"> 
                    <button id="dashboardBtn" class="flex items-center text-white btn-active"> 
                        <i class="fas fa-home mr-2"></i> 
                        <span>Dashboard</span> 
                    </button> 
                    <button id="forecastBtn" class="flex items-center text-white btn"> 
                        <i class="fas fa-chart-line mr-2"></i> 
                        <span>Financial Forecast</span> 
                    </button> 
                </div> 
            </div>
        </div>
        <!-- Main Content -->
        <div class="dashboard">
            <div id="content">
                <h1>Dashboard</h1>
                <div class="real-time">
                    <div class="card">
                        <div class="text-lg">Today</div>
                        <div class="text-6xl font-bold" id="today-total"></div>
                        <div class="mt-2" id="today-percent"></div>
                    </div>
                    <div class="card">
                        <div class="text-lg">Yesterday</div>
                        <div class="text-6xl font-bold" id="yesterday-total"></div>
                    </div>
                    <div class="card">
                        <div class="text-lg">Average</div>
                        <div class="text-6xl font-bold" id="average-total"></div>
                        <div class="mt-2" id="average-percent"></div>
                    </div>
                </div>
                
                

                <h2>Sales Overview</h2>
                <div class="chart-container">
                    
                    <div class="chart-box">
                        <h3>Daily Sales</h3>
                        <canvas id="dailySalesChart" ></canvas>
                    </div>
                    <div class="chart-box">
                        <h3>Weekly Sales</h3>
                        <canvas id="weeklySalesChart" ></canvas>
                    </div>
                    <div class="chart-box">
                        <h3>Monthly Sales</h3>
                        <canvas id="monthlySalesChart" ></canvas>
                    </div>
                    <div class="chart-box">
                        <h3>Yearly Sales</h3>
                        <canvas id="yearlySalesChart" ></canvas>
                    </div>
                </div>

                
                <h2>Sales by Product</h2>
                <div class="chart-container">
                    <div class="chart-box">
                        <h2>Daily Sales</h2>
                        <canvas id="dailySalesByProductChart" ></canvas>
                    </div>
                    <div class="chart-box">
                        <h2>Weekly Sales</h2>
                        <canvas id="weeklySalesByProductChart"></canvas>
                    </div>
                    <div class="chart-box">
                        <h2>Monthly Sales</h2>
                        <canvas id="monthlySalesByProductChart"></canvas>
                    </div>
                    <div class="chart-box">
                        <h2>Yearly Sales</h2>
                        <canvas id="yearlySalesByProductChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>